.header--container {
	display: flex;
	align-items: center;
	justify-content: space-between;

	background-color: bisque;
	padding: 12px 24px;
	.header--logo {
	}
	.header--searchBar {
	}

	.navigation--container {
		.navigation--list {
			display: flex;
			align-items: center;
			list-style: none;
			gap: 1rem;

			.list--item {
				.item--link {
					text-decoration: none;
					color: black;
				}
			}
		}
	}
}
