.loginCard--container {
	max-width: 600px;
	min-width: 500px;
	max-height: 500px;
	min-height: 300px;

	border: 1px solid black;
	border-radius: 12px;

	background-color: beige;
	padding: 24px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	gap: 40px;

	.loginCard--form {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 48px;
		row-gap: 24px;

		.form--label {
			display: block;
		}
		.form--input {
			border: 0.5px solid gray;
			border-radius: 6px;
			padding: 6px 12px;
		}
	}

	.button-submit {
		cursor: pointer;

		border: none;
		border-radius: 6px;

		background-color: cadetblue;
		padding: 12px 24px;

		transition: all 0.3s;
	}
	.button-submit:hover {
		background-color: rgb(58, 96, 97);
	}
}
